body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* GLOBAL FIX */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HERO */
.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.hero iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* SECTIONS */
section {
  padding: 80px 0 ;
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* BUTTON */
button {
  background: orange;
  padding: 12px 24px;
  border: none;
  color: white;
  border-radius: 30px;
  font-weight: 600;
}

/* 🔥 FIX HORIZONTAL SCROLL ISSUE */
html, body {
  overflow-x: hidden;
}